# Frontend (Angular)
/node_modules/
/dist/
/tmp/
/out-tsc/
/bazel-out/
/.angular/cache/
/coverage/
/.sass-cache/
/typings/
/.eslintcache

# Tooling logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
testem.log
libpeerconnection.log
